<div class="container my-5">
    <h1>Send an Event:</h1>
    <form class="row g-3 mt-3 justify-content-center">
        
      <div class="col-12">
        <div class="row-12">
        <div class="d-flex flex-column">
          <!-- <label for="eventName" class="form-label">Event Name</label>
          <input type="text" class="form-control w-auto" id="eventName" placeholder="Event Name">
        </div> -->

        <div class="row">
            <div class="col">
                <label for="eventName" class="form-label">Event Name</label>
                <input type="text" class="form-control" placeholder="Board Meeting">
            </div>
            <div class="col">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" placeholder="Norton Building, Suite 201">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="eventName" class="form-label mt-3">Description</label>
                <input type="text" class="form-control" placeholder="Discuss next steps for acquisition between board members and executives">
            </div>
        </div>

        <div class="row">
            <div class="col-2 mt-3">
                <h4></h4>
                <h6>Enter date range</h6>
            </div>
            <div class="col">
                <label for="dateStart" class="form-label mt-3">Start Date:</label>
                <input type="text" class="form-control" placeholder="04/01/2024">
            </div>
            <div class="col">
                <label for="dateEnd" class="form-label mt-3">End Date:</label>
                <input type="text" class="form-control" placeholder="04/07/2024">
            </div>
        </div>
        
        <div class="row">
            <div class="col-2 mt-3">
                <h4></h4>
                <h6>Enter time range</h6>
            </div>
            <div class="col mt-3">
                <label for="dateStart" class="form-label">Start Time:</label>
                <input type="text" class="form-control" placeholder="8:00am">
            </div>
            <div class="col">
                <label for="dateEnd" class="form-label mt-3">End Time:</label>
                <input type="text" class="form-control" placeholder="3:00pm">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary mt-3" type="submit">Next: Add Invitees</button>
            </div>
        </div>
 
      </div>
  </div>