<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 ml-9 link-body-emphasis text-decoration-none">
        <a class="d-block mx-auto" src="../../assets/riliLogo.png" alt="" width="50" height="50" [routerLink]="['/']"></a>

        <img class="d-block mx-auto" src="../../assets/riliLogo.png" alt="" width="50" height="50">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <a href="home" class="nav-link px-2 link-body-emphasis" [routerLink]="['/home']">Home</a>
        <a href="planEvent" class="nav-link px-2 link-body-emphasi disabled" [routerLink]="['/planEvent']">Plan</a>
        <a href="sendEvent" class="nav-link px-2 link-body-emphasis" [routerLink]="['/sendEvent']">Send</a>
        <!-- <li><a href="#" class="nav-link px-2 link-body-emphasis disabled">FAQ</a></li> -->
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="/" [routerLink]="['/']">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/" [routerLink]="['/']">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<router-outlet />
