<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../assets/riliLogo.png" alt="" width="175" height="175">
    <h1 class="display-5 fw-bold text-body-emphasis">Rili</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Event Planning, simple.</p>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-2"onclick="window.location.href='../planEvent'">Plan an Event</button>
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-2"onclick="window.location.href='../sendEvent'">Send an Event</button>

      </div>
    </div>
</div>