<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/riliLogo.png" alt="" width="175" height="175">
    <h1 style="font-size: 2.5rem;">Rili</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Event Planning, simple</p>

      <!-- <a type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-2 mb-4" [routerLink]="['/auth/google']">Log In</a> -->
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-2 mb-4" onclick="window.location.href='/auth/google'" style="background-color: rgb(12, 36, 51); border-color: rgb(12, 36, 51);">Log In</button>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <!-- <a type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-2 disabled" [routerLink]="['/planEvent']">Plan an Event</a>
        <a type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-2" [routerLink]="['/sendEvent']">Send an Event</a> -->
      </div>
    </div>
</div>